*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5rem 0;
  font-weight: 500;
  line-height: 4.8rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  margin: 5rem 0;
  font-size: 1.8rem;
  line-height: 4.3rem;
}

.header {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container, .about__container, .comments__container, .fue__container, .results__container, .reviews__container {
  max-width: 130rem;
  padding: 0 1.5rem;
  margin: auto;
}

.header__bar {
  margin: 4.5rem 0;
}

.header__logo {
  height: 6rem;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content {
  color: white;
}

.header__content::before, .header__content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header__content::before {
  background-image: url("../img/bgs/banner_1.jpg");
  background-size: cover;
}

.header__content::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.header__title, .about__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 4.8rem;
}

.header__list {
  margin: 4rem 0 6.5rem 0;
}

.header__recall {
  width: 22rem;
  margin: 4rem auto 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: white;
}

.bar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar__btn, .content__btn {
  width: 16rem;
  height: 5rem;
  color: #BD9457;
  background-color: transparent;
  border: 1px solid #BD9457;
  border-radius: 5rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation__list, .list, .results__list, .carousel__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navigation__item {
  margin: 0 2rem;
}

.navigation__link {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navigation__link:hover, .navigation__link:focus {
  color: #bd9457;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__phone {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  text-decoration: none;
}

.contact__block {
  margin-left: 0.8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__title {
  width: 7rem;
  position: absolute;
  top: -1.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: white;
}

.contact__social {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
  background-color: white;
  font-size: 0.1rem;
  color: transparent;
}

.contact__telegram {
  margin-right: 0.3rem;
}

.contact__whatsapp {
  margin: 0 0 0.1rem 0;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__icon {
  height: 6rem;
}

.item__descr {
  margin: 0 4rem 0 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2.3rem;
}

.item:nth-child(1) .item__descr {
  max-width: 12.4rem;
}

.item:nth-child(2) .item__descr {
  max-width: 18.1rem;
}

.item:nth-child(3) .item__descr {
  max-width: 16.4rem;
}

.content__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  color: #14120f;
  background: #BFAA86;
  border-width: 0;
}

.recall__btn {
  width: 10rem;
  height: 10rem;
  margin: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: white;
}

.recall__btn::before, .recall__btn::after {
  content: "";
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  bottom: -1.5rem;
  left: -1.5rem;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}

.recall__btn::after {
  width: 0;
  height: 0;
}

.recall__descr {
  width: 8rem;
  margin-right: 0.8rem;
}

.about, .comments, .fue, .results, .reviews {
  padding: 5rem 0;
  font-size: 1.8rem;
  line-height: 4.5rem;
  background-color: #F9F9F9;
}

.about__heading {
  margin: 4rem 0;
}

.about__list {
  margin: 6rem 0;
}

.about__item {
  width: 33.33333%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 3rem;
}

.about__icon {
  margin-bottom: 2rem;
}

.about__services, .reviews__list {
  width: 100%;
  margin: 10rem 0 4rem;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (17rem)[3];
      grid-template-rows: repeat(3, 17rem);
      grid-template-areas: "item01 item03 item03 item06 item08 item10" "item02 item03 item03 item07 item08 item11" "item02 item04 item05 item07 item09 item11";
  grid-gap: 2rem;
  list-style-type: none;
}

.services__item, .reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.services__item:nth-child(1), .reviews__item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: item01;
}

.services__item:nth-child(2), .reviews__item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item02;
}

.services__item:nth-child(3), .reviews__item:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: item03;
}

.services__item:nth-child(4), .reviews__item:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item04;
}

.services__item:nth-child(5), .reviews__item:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: item05;
}

.services__item:nth-child(6), .reviews__item:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: item06;
}

.services__item:nth-child(7), .reviews__item:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: item07;
}

.services__item:nth-child(8), .reviews__item:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  grid-area: item08;
}

.services__item:nth-child(9), .reviews__item:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: item09;
}

.services__item:nth-child(10), .reviews__item:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: item10;
}

.services__item:nth-child(11), .reviews__item:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  grid-area: item11;
}

.services__picture, .comments__photo, .num-list__photo, .results__photo, .carousel__photo, .reviews__preview {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0;
  font-size: 0.1rem;
  color: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(191, 170, 134, 0.71)), to(rgba(191, 170, 134, 0.71)));
  background: linear-gradient(0deg, rgba(191, 170, 134, 0.71), rgba(191, 170, 134, 0.71));
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}

.services__button:hover, .services__button:focus {
  opacity: 1;
}

.services__button:hover::before, .services__button:focus::before {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.services__button::before {
  content: url(../img/icons/add.svg);
  width: 4.9rem;
  height: 4.9rem;
  position: absolute;
  border-radius: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.comments {
  padding: 10rem 1.5rem;
  background-color: white;
}

.comments__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments__left {
  max-width: 44rem;
  margin-right: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments__right {
  padding: 0 6.5rem;
  -webkit-box-shadow: 0px 12px 42px rgba(214, 222, 226, 0.42);
          box-shadow: 0px 12px 42px rgba(214, 222, 226, 0.42);
}

.comments__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.author__name {
  display: block;
  font-weight: bold;
  line-height: 2.4rem;
}

.author__position {
  font-size: 1.5rem;
}

.author__signature {
  height: 5rem;
  margin-top: 5rem;
}

.fue {
  padding: 5rem 1.5rem 10rem;
}

.fue__heading, .fue__descr {
  margin-bottom: 3rem;
}

.fue__descr {
  margin-top: 3rem;
}

.fue__num-list {
  padding: 0;
  list-style-type: none;
}

.num-list {
  counter-reset: item;
}

.num-list__item {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.num-list__left {
  width: 50%;
  margin-right: 11.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.num-list__left::before, .reviews__link::before {
  content: "0" counter(item);
  counter-increment: item;
  width: 6.5rem;
  height: 6.5rem;
  position: absolute;
  right: -3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background-color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #BFAA86;
}

.num-list__left::after, .reviews__link::after {
  content: "";
  width: 9rem;
  height: 9rem;
  position: absolute;
  right: -4.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}

.results {
  background-color: white;
}

.results__heading {
  text-align: center;
}

.results__carousel {
  margin: 7rem 0 9rem;
}

.results__list {
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results__item {
  height: 21.5rem;
  width: 28.347%;
  margin-bottom: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results__link {
  margin-bottom: 3rem;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 5.2rem;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #bd9457;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel__list {
  overflow: hidden;
  margin: 0 5.5rem;
}

.carousel__item {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__btn {
  width: 5rem;
  height: 5rem;
  border-width: 0;
  background-color: white;
  -webkit-box-shadow: 0px 0.8rem 2rem rgba(214, 222, 226, 0.42);
          box-shadow: 0px 0.8rem 2rem rgba(214, 222, 226, 0.42);
  border-radius: 100%;
  font-size: 0.1rem;
  color: transparent;
  background-image: url(../img/icons/arrow_black.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.carousel__btn--prev {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.reviews__heading {
  margin-top: 0;
}

.reviews__list {
  margin: 0 0 5rem;
  -ms-grid-columns: 2fr (1fr)[2];
      grid-template-columns: 2fr repeat(2, 1fr);
  -ms-grid-rows: (25.5rem)[2];
      grid-template-rows: repeat(2, 25.5rem);
      grid-template-areas: "item01 item02 item03" "item01 item04 item05";
}

.reviews__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0.1rem;
  color: transparent;
}

.reviews__link::before {
  width: 6rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  line-height: 0;
  content: "";
  background-image: url(../img/icons/loading.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem;
}

.reviews__link::after {
  width: 8rem;
  height: 8rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.reviews__item:first-child .reviews__link::before {
  height: 10rem;
  width: 10rem;
  background-size: 5rem;
}

.reviews__item:first-child .reviews__link::after {
  height: 13rem;
  width: 13rem;
}
/*# sourceMappingURL=main.css.map */