.about {
    padding: 5rem 0;
    font-size: 1.8rem;
    line-height: 4.5rem;
    background-color: #F9F9F9;

    &__container {
        @extend .header__container;
    }

    &__heading {
        @extend .header__title;
        margin: 4rem 0;
    }

    &__list {
         margin: 6rem 0;
    }

    &__item {
        width: 33.33333%;
        flex-direction: column;
        align-items: flex-start;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 3rem;
    }

    &__icon {
        margin-bottom: 2rem;
    }

    &__services {
        width: 100%;
        margin: 10rem 0 4rem;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 17rem);
        grid-template-areas:
            "item01 item03 item03 item06 item08 item10"
            "item02 item03 item03 item07 item08 item11"
            "item02 item04 item05 item07 item09 item11";
        grid-gap: 2rem;
        list-style-type: none;
    }
}

.services {
    &__item {
        display: flex;
        position: relative;
        overflow: hidden;

        &:nth-child(1) {
            grid-area: item01;
        }
        
        &:nth-child(2) {
            grid-area: item02;
        }
        
        &:nth-child(3) {
            grid-area: item03;
        }
        
        &:nth-child(4) {
            grid-area: item04;
        }
        
        &:nth-child(5) {
            grid-area: item05;
        }
        
        &:nth-child(6) {
            grid-area: item06;
        }
        
        &:nth-child(7) {
            grid-area: item07;
        }
        
        &:nth-child(8) {
            grid-area: item08;
        }
        
        &:nth-child(9) {
            grid-area: item09;
        }
        
        &:nth-child(10) {
            grid-area: item10;
        }
        
        &:nth-child(11) {
            grid-area: item11;
        }
        
    }

    &__picture {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    &__button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        border-width: 0;
        font-size: 0.1rem;
        color: transparent;
        background: linear-gradient(0deg, rgba(191, 170, 134, 0.71), rgba(191, 170, 134, 0.71));
        transition: all .3s;
        opacity: 0;

        &:hover,
        &:focus {
            opacity: 1;

            &::before {
                transform: rotateZ(90deg);
            }
        }

        &::before {
            content: url(../img/icons/add.svg);
            width: 4.9rem;
            height: 4.9rem;
            position: absolute;
            border-radius: 100%;
            transition: all .3s;
        }
    }
}

.comments {
    @extend .about;
    padding: 10rem 1.5rem; 
    background-color: rgb(255, 255, 255);

    &__container {
        @extend .about__container;
        display: flex;
    }

    &__left {
        max-width: 44rem;
        margin-right: 5.5rem;
        display: flex;
    }

    &__photo {
        @extend .services__picture;
    }

    &__right {
        padding: 0 6.5rem;
        box-shadow: 0px 12px 42px rgba(214, 222, 226, 0.42);
    }

    &__author {
        display: flex;
        justify-content: space-between;
    }
}

.author {
    &__name {
        display: block;
        font-weight: bold;
        line-height: 2.4rem;
    }

    &__position {
        font-size: 1.5rem;
    }

    &__signature {
        height: 5rem;
        margin-top: 5rem;
    }
}

.fue {
    @extend .about;
    padding: 5rem 1.5rem 10rem;

    &__container {
        @extend .about__container;
    }

    &__heading,
    &__descr {
        margin-bottom: 3rem;
    }

    &__descr {
        margin-top: 3rem;
    }

    &__num-list {
        padding: 0;
        list-style-type: none;
    }
}

.num-list {
    counter-reset: item;

    &__item {
        margin-top: 4rem;
        display: flex;
        align-items: center;
    }

    &__left {
        width: 50%;
        margin-right: 11.5rem;
        display: flex;
        align-items: center;
        position: relative;

        &::before {
            content: '0' counter(item);
            counter-increment: item;

            width: 6.5rem;
            height: 6.5rem;
            position: absolute;
            right: -3.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            background-color: rgb(255, 255, 255);

            font-style: normal;
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 3rem;
            color: #BFAA86;
        }

        &::after {
            content: "";
            width: 9rem;
            height: 9rem;
            position: absolute;
            right: -4.5rem;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 100%;
        }
    }

    &__photo {
        @extend .services__picture;
    }
}

.results {
    @extend .about;
    text-align: center;
    background-color: rgb(255, 255, 255);

    &__container {
        @extend .about__container;
    }

    &__heading {
        text-align: center;
    }

    &__carousel {
        margin: 7rem 0 9rem;
    }

    &__list {
        @extend .list;
        margin: 0;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        height: 21.5rem;
        width: 28.347%;
        margin-bottom: 5.5rem;
        display: flex;
    }

    &__photo {
        @extend .services__picture;
    }

    &__link {
        margin-bottom: 3rem;
        display: inline-block;
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 5.2rem;
        text-decoration-line: underline;
        color: #bd9457;
    }
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list {
        @extend .list;
        overflow: hidden;
        margin: 0 5.5rem;
    }

    &__item {
        min-width: 100%;
        display: flex;
    }

    &__photo {
        @extend .services__picture;
    }

    &__btn {
        width: 5rem;
        height: 5rem;
        border-width: 0;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px .8rem 2rem rgba(214, 222, 226, 0.42);
        border-radius: 100%;
        font-size: 0.1rem;
        color: transparent;
        background-image: url(../img/icons/arrow_black.svg);
        background-position: center;
        background-repeat: no-repeat;

        &--prev {
            transform: rotateZ(180deg);
        }
    }
}

.reviews {
    @extend .about;

    &__container {
        @extend .about__container;
    }

    &__heading {
        margin-top: 0;
    }

    &__list {
        @extend .about__services;
        margin: 0 0 5rem;
        grid-template-columns: 2fr repeat(2, 1fr);
        grid-template-rows: repeat(2, 25.5rem);
        grid-template-areas:
            "item01 item02 item03"
            "item01 item04 item05";
    }

    &__item {
        @extend .services__item;
    }

    &__preview {
        @extend .services__picture;
    }

    &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 0.1rem;
        color: transparent;

        &::before {
            @extend .num-list__left::before;
            width: 6rem;
            height: 6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            line-height: 0;
            content: "";
            background-image: url(../img/icons/loading.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 3rem;
        }

        &::after {
            @extend .num-list__left::after;
            width: 8rem;
            height: 8rem;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    &__item:first-child &__link {
        &::before {
            height: 10rem;
            width: 10rem;
            background-size: 5rem;
        }

        &::after {
            height: 13rem;
            width: 13rem;
        }
    }
}

.banner {
    @extend .about;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-image: url(../img/bgs/form_1.jpg);
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.3);
    }

    &__container {
        @extend .about__container;
    }

    &__heading,
    &__descr,
    &__form {
        width: 49%;
        margin: 3rem 0;
    }

    &__descr {
        line-height: 3rem;
    }

    &__input {
        height: 5rem;
        width: 28rem;
        margin-right: 1.5rem;
        padding: .7rem 2rem;
        background: rgb(255, 255, 255);
        border: 1px solid #dfdfdf;
        border-radius: 5rem;
    }

    &__label {
        margin: 2.5rem 0;
        display: inline-block;
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 2.5rem;
        cursor: pointer;
    }

    &__checkbox {
        width: 1.8rem;
        height: 1.8rem;
        margin: 0 1.2rem 0 0;
        background: rgb(255, 255, 255);
        border: .1rem solid #dfdfdf;
        border-radius: .3rem;
        transform: translateY(.3rem);
    }

    &__btn {
        @extend .content__btn;
        width: 30rem;
        padding-bottom: .4rem;
        font-style: normal;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 3.6rem;
        color: rgb(255, 255, 255);
        background-color: #bd9457;
        cursor: pointer;
    }
}

.prices {
    @extend .about;
    text-align: center;

    &__container {
        @extend .about__container;
    }

    &__heading {
        margin: 5rem 0 3rem;
    }

    &__descr {
        margin: 3rem 0 5rem;
    }

    &__list {
        @extend .list;
        margin: 5rem 0;
        justify-content: space-between;
    }

    &__item {
        width: calc(33.33333% - 2rem);
        height: 38rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2rem;
        background: rgb(255, 255, 255);
        box-shadow: 0 .8rem 2rem rgba(214, 222, 226, 0.42);

        &:nth-child(2) {
            margin-top: 3.5rem;
        }
    }

    &__picture {
        width: 19rem;
        height: 15rem;
        margin-bottom: 5.5rem;
        display: flex;
    }

    &__img {
        @extend .services__picture;
    }

    &__value {
        margin-top: 1.6rem;
        font-style: normal;
        font-size: 2.5rem;
        line-height: 3rem;
        color: #BD9457;
    }

    &__link {
        @extend .results__link;
    }
}