.about {
    padding: 5rem 0;
    font-size: 1.8rem;
    line-height: 4.5rem;
    background-color: #F9F9F9;

    &__container {
        @extend .header__container;
    }

    &__heading {
        @extend .header__title;
        margin: 4rem 0;
    }

    &__list {
         margin: 6rem 0;
    }

    &__item {
        width: 33.33333%;
        flex-direction: column;
        align-items: flex-start;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 3rem;
    }

    &__icon {
        margin-bottom: 2rem;
    }

    &__services {
        width: 100%;
        margin: 10rem 0 4rem;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 17rem);
        grid-template-areas:
            "servItem01 servItem03 servItem03 servItem06 servItem08 servItem10"
            "servItem02 servItem03 servItem03 servItem07 servItem08 servItem11"
            "servItem02 servItem04 servItem05 servItem07 servItem09 servItem11";
        grid-gap: 2rem;
        list-style-type: none;
    }
}

.services {
    &__item {
        display: flex;
        position: relative;
        overflow: hidden;

        &:nth-child(1) {
            grid-area: servItem01;
        }
        
        &:nth-child(2) {
            grid-area: servItem02;
        }
        
        &:nth-child(3) {
            grid-area: servItem03;
        }
        
        &:nth-child(4) {
            grid-area: servItem04;
        }
        
        &:nth-child(5) {
            grid-area: servItem05;
        }
        
        &:nth-child(6) {
            grid-area: servItem06;
        }
        
        &:nth-child(7) {
            grid-area: servItem07;
        }
        
        &:nth-child(8) {
            grid-area: servItem08;
        }
        
        &:nth-child(9) {
            grid-area: servItem09;
        }
        
        &:nth-child(10) {
            grid-area: servItem10;
        }
        
        &:nth-child(11) {
            grid-area: servItem11;
        }
        
    }

    &__picture {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    &__button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        border-width: 0;
        font-size: 0.1rem;
        color: transparent;
        background: linear-gradient(0deg, rgba(191, 170, 134, 0.71), rgba(191, 170, 134, 0.71));
        transition: all .3s;
        opacity: 0;

        &:hover,
        &:focus {
            opacity: 1;

            &::before {
                transform: rotateZ(90deg);
            }
        }

        &::before {
            content: url(../img/icons/add.svg);
            width: 4.9rem;
            height: 4.9rem;
            position: absolute;
            border-radius: 100%;
            transition: all .3s;
        }
    }
}

.comments {
    @extend .about;
    padding: 10rem 1.5rem; 
    background-color: rgb(255, 255, 255);

    &__container {
        @extend .about__container;
        display: flex;
    }

    &__left {
        max-width: 44rem;
        margin-right: 5.5rem;
        display: flex;
    }

    &__photo {
        @extend .services__picture;
    }

    &__right {
        padding: 0 6.5rem;
        box-shadow: 0px 12px 42px rgba(214, 222, 226, 0.42);
    }

    &__author {
        display: flex;
        justify-content: space-between;
    }
}

.author {
    &__name {
        display: block;
        font-weight: bold;
        line-height: 2.4rem;
    }

    &__position {
        font-size: 1.5rem;
    }

    &__signature {
        height: 5rem;
        margin-top: 5rem;
    }
}

.fue {
    @extend .about;
    padding: 5rem 1.5rem 10rem;

    &__container {
        @extend .about__container;
    }

    &__heading,
    &__descr {
        margin-bottom: 3rem;
    }

    &__descr {
        margin-top: 3rem;
    }

    &__num-list {
        padding: 0;
        list-style-type: none;
    }
}

.num-list {
    counter-reset: item;

    &__item {
        margin-top: 4rem;
        display: flex;
        align-items: center;
    }

    &__left {
        width: 50%;
        margin-right: 11.5rem;
        display: flex;
        align-items: center;
        position: relative;

        &::before {
            content: '0' counter(item);
            counter-increment: item;

            width: 6.5rem;
            height: 6.5rem;
            position: absolute;
            right: -3.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            background-color: rgb(255, 255, 255);

            font-style: normal;
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 3rem;
            color: #BFAA86;
        }

        &::after {
            content: "";
            width: 9rem;
            height: 9rem;
            position: absolute;
            right: -4.5rem;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 100%;
        }
    }

    &__photo {
        @extend .services__picture;
    }
}