*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5rem 0;
    font-weight: 500;
    line-height: 4.8rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.8rem;
}

p {
    margin: 5rem 0;
    font-size: 1.8rem;
    line-height: 4.3rem;
}

@import "header";
@import "content";