*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    //overflow-x: hidden;
}

button {
    cursor: pointer;
}

.header {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__container {
        max-width: 130rem;
        padding: 0 1.5rem;
        margin: auto;
    }

    &__bar {
        margin: 4.5rem 0;
    }

    &__logo {
        height: 6rem;
    }

    &__contact {
        display: flex;
    }

    &__content {
        color: rgb(255, 255, 255);

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    
        &::before {
            background-image: url("../img/bgs/banner_1.jpg");
            background-size: cover;
        }
    
        &::after {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 3.5rem;
        line-height: 4.8rem;
    }

    &__list {
        margin: 4rem 0 6.5rem 0;
    }

    &__reviews {
        width: 22rem;
        margin: 4rem auto 7rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-style: normal;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: rgb(255, 255, 255);
    }
}

.bar {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        width: 16rem;
        height: 5rem;
        color: #BD9457;
        background-color: transparent;
        border: 1px solid #BD9457;
        border-radius: 5rem;
    }
}

.logo {
    display: flex;

    &__img {
        object-fit: cover;
    }
}

.navigation {
    &__list {
        padding: 0;
        display: flex;
        list-style-type: none;
    }

    &__item {
        margin: 0 2rem;
    }

    &__link {
        color: rgb(255, 255, 255);
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-decoration: none;
        transition: all .3s;

        &:hover,
        &:focus {
            color: #bd9457;
        }
    }
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__phone {
        color: rgb(255, 255, 255);
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        text-decoration: none;
    }

    &__block {
        margin-left: 0.8rem;
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__title {
        width: 7rem;
        position: absolute;
        top: -1.5rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1.1rem;
        line-height: 1.3rem;
        color: rgb(255, 255, 255);
    }

    &__social {
        width: 3.5rem;
        height: 3.5rem;
        margin: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        font-size: 0.1rem;
        color: transparent;
    }

    &__telegram {
        margin-right: 0.3rem;
    }

    &__whatsapp {
        margin: 0 0 0.1rem 0;
    }
}

.list {
    @extend .navigation__list;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__icon {
        height: 6rem;
    }

    &__descr {
        margin: 0 4rem 0 2rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 2.3rem;
    }

    &:nth-child(1) &__descr {
        max-width: 12.4rem;
    }

    &:nth-child(2) &__descr {
        max-width: 18.1rem;
    }

    &:nth-child(3) &__descr {
        max-width: 16.4rem;
    }
}

.content {
    &__btn {
        @extend .bar__btn;
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        color: #14120f;
        background: #BFAA86;
        border-width: 0;
    }
}

.reviews {
    &__btn {
        width: 10rem;
        height: 10rem;
        margin: 1.5rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: rgb(255, 255, 255);

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: -1.5rem;
            right: -1.5rem;
            bottom: -1.5rem;
            left: -1.5rem;
            z-index: -1;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 100%;
        }
    }

    &__descr {
        width: 8rem;
        margin-right: 0.8rem;
    }
}